<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Polls</title>
</head>
<body>
<h1>Here are your polls.</h1>
<ol>
{% for poll in polls %}
    <li>Poll #{{ forloop.counter }} - {{ poll.title }}</li>
    <ol>
    {% for question in poll.question_set.all %}
        <li>{{ question.question_text }}</li>
        <ul>
        {% if question.get_type == 'textchoicesquestion' %}
            {% for choice in question.textchoicesquestion.textchoice_set.all %}
                <li>{{ choice.text }} - {{ choice.num_votes }} votes</li>
                <ul>
                {% for nuance in choice.textchoicenuance_set.all %}
                    <li>{{ nuance.text }} - {{ nuance.num_votes }} votes</li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% elif question.get_type == 'rankingquestion' %}
            {% for rank in question.rankingquestion.vote_breakdown %}
                <li>{{ rank.rank }}: {{ rank.total }} votes</li>
            {% endfor %}
        {% else %}
            <li>Invalid Question?</li>
        {% endif %}
        </ul>
    {% endfor %}
    </ol>
{% endfor %}
</ol>
</body>
</html>